@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100&effect=neon');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, p {
  color: #e6e6e6;
}


section {
  height: 100%;
  background-image: url("https://cdn.hipwallpaper.com/i/90/54/JfhsIX.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Big Shoulders Text', cursive, sans-serif;
}


/* Rock Paper Scissors Flicker Effect*/
.flick-rock {
  -webkit-animation: flicker 2s infinite;
}
@-webkit-keyframes flicker
{
  0% {opacity:0;}
  9% {opacity:0.3;}
  10% {opacity:.5;}
  13% {opacity:0;}
  20% {opacity:.5;}
  25% {opacity:1;}
}.flick-paper {
  -webkit-animation: flicker 3s infinite;
}.flick-scissors {
  -webkit-animation: flicker 1.5s infinite;
}




.score {
  padding-top: 45px;
  margin-bottom: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.5s ease 0.5s;
}
.score h2 {
  font-size: 60px;
  padding-bottom: 10px;
} .score p {
  font-size: 40px;
  text-align: center;
}


.intro {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.5s ease;
}
.intro h1 {
  font-size: 100px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.intro button, .match button {
  width: 200px;
  height: 70px;
  border: 3px solid #e6e6e6;
  border-radius: 5px;
  background: none;
  color: #e6e6e6;
  font-size: 30px;
  cursor: pointer;
}
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 20px #9F5DA3;
}
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(159, 93, 163, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(159, 93, 163, 0.75);
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #9F5DA3;
  background-color: #9F5DA3;
  color: white;
  border: none;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #4683c9;
  box-shadow: 0 0 5px rgba(70, 131, 201, 0.75);
}

.reset, .hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  background-color: rgba(255, 255, 0, 0.75);
  color: black;
}


.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}
.winner {
  text-align: center;
  font-size: 50px;
  padding-bottom: 20px;
  margin-top: 100px;
}
.hands, .options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 20px 0;
}
.player-hand {
  transform: rotateY(180deg);
  margin-right: 300px;
}
.options {
  margin-bottom: 40px;
}


div.fadeOut {
  opacity: 0;
  pointer-events: none;
}
div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

/* Images animation */
@keyframes shakePlayer {
  0%{
    transform: rotateY(180deg) translateY(0px);
  }
  15%{
    transform: rotateY(180deg) translateY(-50px);
  }
  25%{
    transform: rotateY(180deg) translateY(0px);
  }
  35%{
    transform: rotateY(180deg) translateY(-50px);
  }
  50%{
    transform: rotateY(180deg) translateY(0px);
  }
  65%{
    transform: rotateY(180deg) translateY(-50px);
  }
  75%{
    transform: rotateY(180deg) translateY(0px);
  }
  85%{
    transform: rotateY(180deg) translateY(-50px);
  }
  100%{
    transform: rotateY(180deg) translateY(0px);
  }
}
@keyframes shakeComputer {
  0%{
    transform: translateY(0px);
  }
  15%{
    transform: translateY(-50px);
  }
  25%{
    transform: translateY(0px);
  }
  35%{
    transform: translateY(-50px);
  }
  50%{
    transform: translateY(0px);
  }
  65%{
    transform: translateY(-50px);
  }
  75%{
    transform: translateY(0px);
  }
  85%{
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(0px);
  }
}
